/* CSS stylesheet  for application */

/* Import other css doc. */
@import "popups.css";
@import "wrapper.css";

h1
{
    color: darkblue;
}

h2, h3, h4
{
    color: blue;
}

.colorGreen
{
    color: green;
}

.errorMSG
{
    color: red;
}

.nav-item
{
    font-weight: 900;
    color: white !important;
}

.colorTextFog
{
    color: #013d7a;
}

.backgroundColorFog
{
    background-color: #013d7a;
}